@model IEnumerable<Sistema_Cine.ViewModels.FilmeViewModel>
@{
    // Define o título da página
    ViewData["Title"] = "Catálogo de Filmes Local";
}

<h1 class="display-4">Meu Catálogo de Filmes</h1>
<p class="lead">Filmes armazenados localmente (via @ViewData["PersistenciaUsada"])</p>

<div class="row mb-4">
    <div class="col-md-6 d-grid gap-2">
        <a asp-action="Search" class="btn btn-success btn-lg">
            <i class="bi bi-search"></i> Buscar e Importar Filmes (TMDb)
        </a>
    </div>

    <div class="col-md-3 d-grid gap-2">
        <a asp-action="ExportCsv" class="btn btn-outline-secondary">
            <i class="bi bi-file-earmark-spreadsheet"></i> Exportar CSV
        </a>
    </div>
    <div class="col-md-3 d-grid gap-2">
        <a asp-action="ExportExcel" class="btn btn-outline-secondary">
            <i class="bi bi-file-earmark-excel"></i> Exportar Excel
        </a>
    </div>
</div>

<hr />

@if (Model != null && Model.Any())
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                @await Html.PartialAsync("_FilmeCardPartial", item)
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info text-center mt-5">
        <h4 class="alert-heading">Catálogo Vazio!</h4>
        <p>Você ainda não importou nenhum filme. Utilize o botão acima para começar a buscar e importar.</p>
    </div>
}